/* Une liste deroulante */
.login-nav{
    width: 0;
    background-color: rgba(46, 134, 222,1.0);
    color: #fff;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 150px;
}

.login-nav ul {
    list-style: none;
    padding: 0;
    opacity: 0
}

.login-nav ul li{
    padding: 10px;
    cursor: pointer
}

.login-nav ul li:hover{
    background-color: #fff;
    color: #000;
    padding-left: 30px
}

.login-nav ul li i {
    padding: 10px;
    font-size: 30px
}

.shoose_one{
    display: none;
    background-color: #fff;
    color: #000;
}

/* Form de patient */
.patient{
    display: none;
    width: 38%;
    height: 450px;
    background-color:rgba(2,2,2 , 0.5);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    color: #fff;
    font-weight: bold
}

.patient form label span {
    color: #f00
}

.patient form input:not([type="checkbox"]){
    width: 248px;
    padding-bottom: 5px;
    margin-bottom: 10px
}

.patient form select{
    width: 248px;
    margin-left: 169px;
}

.patient form select,
.patient form input[type="checkbox"]{
    margin-bottom: 10px
}

.patient form input[name="password"]{
    margin-left: 112px;
    padding: 5px
}

.patient form input[name="confirm_password"]{
    margin-left: 2px;
    padding: 5px
}

.patient form input[name="email"]{
    margin-left: 165px;
    padding: 5px
}

.patient form input[name="birthday"]{
    margin-left: 79px;
    padding: 5px
}

.patient form input[name="prenom"]{
    margin-left: 148px;
    padding: 5px
}

.patient form input[name="nom"]{
    margin-left: 169px;
    padding: 5px
}

.patient form input[type="submit"]{
    margin-left: 222px;
    padding: 5px;
    color: #000;
    background-color: #fff;
}


@media (min-width: 1200px) and (max-width: 1280px){
    .patient {
        width: 45%;
    } 
 
    .patient form input:not([type="checkbox"]){
     width: 250px;
     padding-bottom: 5px;
     margin-bottom: 10px;
     position: relative;
     
    }

    .patient form select{
        right: -229px;
        width: 250px;
        margin-left: 0;
        position: relative;
    }

    .patient form input[name="nom"]{
        right: -230px;
        margin-left: 0;
    }

    .patient form input[name="prenom"]{
        right: -208px;
        margin-left: 0;
    }

    .patient form input[name="birthday"]{
        right: -139px;
        margin-left: 0;
    }

    .patient form input[name="email"]{
        right: -224px;
        margin-left: 0;
    }

    .patient form input[name="password"]{
        right: -171px;
        margin-left: 0;
    }
    
    .patient form input[name="confirm_password"]{
        right: -60px;
        margin-left: 0;
    }

    .patient form input[type="submit"] {
        margin-left: 0;
        right: -224px;
        right: -35px;
        top: 83px;
    }

 }

.patient form a {
    color: aquamarine;
    cursor: pointer
}

.patient form .close-form{
    font-size: 20px;
    color: #fff;
    position: relative;
    top: -395px;
    left: 309px;
    cursor: pointer
}

@media (min-width: 1200px) and (max-width: 1280px){ 
    .patient form .close-form{
        top: -372px;
        left: 369px;
    }
}

/* doctor form */
.doctor{
    display: none;
    width: 38%;
    height: 450px;
    background-color:rgba(2,2,2 , 0.5);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    color: #fff;
    font-weight: bold
}

/* laboratoire form */
.laboratoire{
    display: none;
    width: 38%;
    height: 450px;
    background-color:rgba(2,2,2 , 0.5);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    color: #fff;
    font-weight: bold
}

/* Termes */
.termes {
    width: 55%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(2, 2, 2, 0.6);
    color: #fff;
    position: relative;
    left: 574px;
    top: -447px;
    padding: 20px;
    display: none
}

.termes span {
    color: palevioletred
}

.termes i {
    font-size: 30px;
    color: #fff;
    position: fixed;
    top: 70px;
    left: 562px;
    cursor: pointer;
}