/* Une liste deroulante */
.login-nav{
    width: 0;
    background-color: rgba(46, 134, 222,1.0);
    color: #fff;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 150px;
}

.login-nav ul {
    list-style: none;
    padding: 0;
    opacity: 0
}

.login-nav ul li{
    padding: 10px;
    cursor: pointer
}

.login-nav ul li:hover{
    background-color: #fff;
    color: #000;
    padding-left: 30px
}

.login-nav ul li i {
    padding: 10px;
    font-size: 30px
}

.shoose_one{
    display: none;
    background-color: #fff;
    color: #000;
}

/* Form de patient */
.patient,
.doctor,
.labo{
    display: none;
    height: 450px;
    background-color:rgba(2,2,2 , 0.5);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    width: 45%;
    overflow: hidden
}

.patient form label span,
.doctor form label span, 
.labo form label span {
    color: #f00
}

.patient form input:not([type="checkbox"]),
.doctor form input:not([type="checkbox"]),
.labo form input:not([type="checkbox"]){
 width: 240px;
 float: right;
 display: block;
 margin-right: 10px;
}

.patient form select,
.labo form select,
.doctor form select{
    display: block;
    width: 240px;
    float: right;
    margin-right: 10px;
}


.patient label,
.labo label,
.doctor label{
    margin-bottom: 10px;
    display: inline-block
}

.patient form input:not([type="checkbox"]),
.labo form input:not([type="checkbox"]),
.doctor form input:not([type="checkbox"]){

    padding-bottom: 5px;
    margin-bottom: 10px
}

@media (min-width: 1100px) and (max-width : 1280px){
    .patient form input:not([type="checkbox"]),
    .labo form input:not([type="checkbox"]),
    .doctor form input:not([type="checkbox"]){
        width: 220px;
    }
       
    .patient form select,
    .labo form select,
    .doctor form select{
        width: 220px;
     }
}

.patient form select,
.doctor form select,
.labo form select,
.patient form input[type="checkbox"],
.doctor form input[type="checkbox"],
.labo form input[type="checkbox"]{
    margin-bottom: 10px
}

.patient form input[name="password"],
.patient form input[name="confirm_password"],
.patient form input[name="email"], 
.patient form input[name="birthday"],
.patient form input[name="prenom"],
.patient form input[name="nom"],
.patient form input[type="submit"]
{
    padding: 5px
}

.doctor form input[name="password_doctor"],
.doctor form input[name="confirm_password_doctor"],
.doctor form input[name="email_doctor"], 
.doctor form input[name="birthday_doctor"],
.doctor form input[name="prenom_doctor"],
.doctor form input[name="nom_doctor"],
.patient form input[type="submit_doctor"]
{
    padding: 5px
}

.labo form input[name="password_labo"],
.labo form input[name="confirm_password_labo"],
.labo form input[name="email_labo"], 
.labo form input[name="birthday_labo"],
.labo form input[name="prenom_labo"],
.labo form input[name="nom_labo"],
.patient form input[type="submit_labo"]
{
    padding: 5px
}

.clearfix {
    clear: both
}


.patient form a,
.labo form a,
.doctor form a {
    color: aquamarine;
    cursor: pointer
}

.patient form .close-form,
.doctor form .close-form,
.labo form .close-form{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: -14px;
    margin-top: -368px;
}

/* Termes */
.termes {
    width: 55%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(2, 2, 2, 0.6);
    color: #fff;
    position: relative;
    left: 574px;
    top: -447px;
    padding: 20px;
    display: none
}

.termes span {
    color: palevioletred
}

.termes i {
    font-size: 30px;
    color: #fff;
    position: fixed;
    top: 70px;
    left: 562px;
    cursor: pointer;
}