/*
  Blue background color : #7ed6df
*/
@font-face {
  font-family: 'cairoregular';
  src: url('font/cairo-regular-webfont.woff2') format('woff2'),
       url('font/cairo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*{
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

body{
  background-color: #7ed6df
}

/* set a container for all pages */

.container {
  width: 1120px;
  margin: 0 auto;
}
